<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>I.Helpr Homepage</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/carousel/">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        /* Modify the background color */
        .navbar-custom {
            background-color: #83bca9;
        }

        /* Modify brand and text color */
        .navbar-custom .navbar-brand,
        .navbar-custom .navbar-text {
            color: #28493e;
        }
    </style>
    <!-- Custom styles for this template -->
    <!-- <link href="homepage.css" rel="stylesheet">
    <link href="myPage.css" rel="stylesheet"> -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/homePage.css' %}">
    <link rel="stylesheet" href="{% static 'css/myPage.css' %}">
</head>

<body>
    <header>
        <nav class="navbar navbar-custom navbar-expand-md navbar-dark fixed-top">
            <a class="navbar-brand" href="homepage.html">I.Helpr</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="homepage.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="forParents.html">For Parents</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="forSitters.html">For Sitters</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="myPage.html">My Page</a>
                    </li>
                </ul>
                <form class="form-inline mt-2 mt-md-0">
                    <a class="btn btn-outline-light my-2 my-sm-0" href="homepage.html">Log out</a>
                </form>
            </div>
        </nav>
    </header>

    <div class="sidenav">
        <a href="myPage.html">My Page</a>
        <a href="messages.html">Messages</a>
        <a href="myFavorite.html">My favorite</a>
        <a href="myPosts.html">My posts</a>
    </div>
    <div class="container">
        <h2>Messages</h2>
        <div class="col-md-12 ">
            <h4 style="color:#88beac;">Unread messages</h4>
            <div class="col-md-12">
                <table class="table table-hover" id="dev-table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>From</th>
                            <th>Date</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Harry Potter</td>
                            <td>September 30, 2020</td>
                            <td><button class="btn btn-info" data-toggle="modal" data-target="#myModal"
                                    style="float: right;">View</button></td>
                            <td><button class="btn btn-warning">Mark as read</button></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Edward Park</td>
                            <td>June 20, 2020</td>
                            <td><button class="btn btn-info" data-toggle="modal" data-target="#myModal"
                                    style="float: right;">View</button></td>
                            <td><button class="btn btn-warning">Mark as read</button></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Bella Choi</td>
                            <td>March 19, 2019</td>
                            <td><button class="btn btn-info" data-toggle="modal" data-target="#myModal"
                                    style="float: right;">View</button></td>
                            <td><button class="btn btn-warning">Mark as read</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <div class="col-md-12 ">
            <h4 style="color:#88beac;">Message History</h4>
            <div class="col-md-12">
                <table class="table table-hover" id="dev-table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>From</th>
                            <th>Date</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Harry Potter</td>
                            <td>September 30, 2020</td>
                            <td><button class="btn btn-info" data-toggle="modal" data-target="#myModal"
                                    style="float: right;">View</button></td>
                            <td><button class="btn btn-warning" data-toggle="modal"
                                    data-target="#myReview">Review</button></td>
                            <td><button class="btn btn-danger">Delete</button></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Edward Park</td>
                            <td>June 20, 2020</td>
                            <td><button class="btn btn-info" data-toggle="modal" data-target="#myModal"
                                    style="float: right;">View</button></td>
                            <td><button class="btn btn-warning" data-toggle="modal"
                                    data-target="#myReview">Review</button></td>
                            <td><button class="btn btn-danger">Delete</button></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Bella Choi</td>
                            <td>March 19, 2019</td>
                            <td><button class="btn btn-info" data-toggle="modal" data-target="#myModal"
                                    style="float: right;">View</button></td>
                            <td><button class="btn btn-warning" data-toggle="modal"
                                    data-target="#myReview">Review</button></td>
                            <td><button class="btn btn-danger">Delete</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- The Modal -->
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">View Chat</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="card text-white bg-info mb-3" style="max-width: 18rem;float: left;">
                            <div class="card-header">The other person</div>
                            <div class="card-body">
                                <h5 class="card-title">10/06/20</h5>
                                <p class="card-text">Hi, my name is JW. I saw your job openings!</p>
                            </div>
                        </div>
                        <div class="card bg-light mb-3" style="max-width: 18rem; float: right;">
                            <div class="card-header">Me</div>
                            <div class="card-body">
                                <h5 class="card-title">10/07/20</h5>
                                <p class="card-text">Hello, this is CJ. Did you apply for the job?</p>
                            </div>
                        </div>
                        <div class="card text-white bg-info mb-3" style="max-width: 18rem; float: left;">
                            <div class="card-header">The other person</div>
                            <div class="card-body">
                                <h5 class="card-title">10/07/20</h5>
                                <p class="card-text">I have few questions to ask before applying.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <input id="btn-input" type="text" class="form-control input-sm"
                            placeholder="Type your message here..." />
                        <button type="button" id="btn-chat" class="btn btn-danger" data-dismiss="modal">Send</button>
                    </div>

                </div>
            </div>
        </div>

        <div class="modal" id="myReview">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!--  Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Review & Rate</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!--  body -->
                    <div class="modal-body">
                        <h5 class="card-title">10/06/20</h5>
                        <div class="form-group" id="rating-ability-wrapper">
                            <label class="control-label" for="rating">
                                <span class="field-label-header">How would you rate this person?</span><br>
                                <span class="field-label-info"></span>
                                <input type="hidden" id="selected_rating" name="selected_rating" value=""
                                    required="required">
                            </label>
                            <h2 class="bold rating-header" style="">
                                <span class="selected-rating">0</span><small> / 5</small>
                            </h2>
                            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="1"
                                id="rating-star-1">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="2"
                                id="rating-star-2">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="3"
                                id="rating-star-3">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="4"
                                id="rating-star-4">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="5"
                                id="rating-star-5">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </button>
                        </div>
                        <textarea class="form-control" id="review" rows="5"></textarea>
                        <div class="checkbox">
                            <label><input type="checkbox" id="usedService" value=""> Did you actually worked with this
                                person?</label>
                        </div>
                    </div>

                    <!--  footer -->
                    <div class="modal-footer">
                        <button type="button" id="btn-chat" class="btn btn-info" data-dismiss="modal">Done</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

</body>
<script>
    jQuery(document).ready(function ($) {

        $(".btnrating").on('click', (function (e) {

            var previous_value = $("#selected_rating").val();

            var selected_value = $(this).attr("data-attr");
            $("#selected_rating").val(selected_value);

            $(".selected-rating").empty();
            $(".selected-rating").html(selected_value);

            for (i = 1; i <= selected_value; ++i) {
                $("#rating-star-" + i).toggleClass('btn-warning');
                $("#rating-star-" + i).toggleClass('btn-default');
            }

            for (ix = 1; ix <= previous_value; ++ix) {
                $("#rating-star-" + ix).toggleClass('btn-warning');
                $("#rating-star-" + ix).toggleClass('btn-default');
            }

        }));

    });
</script>

</html>